/* ====================== Footer SECTION ====================== */

.footer {
    padding: 130px 0 50px;
}

.footer .row {
    align-items: stretch;
    gap: 140px;
}

.footer .col .title {
    font-weight: 500;
    font-size: 1.8rem;
    color: #2e2e2e;
    margin-bottom: 25px;
}

.footer .col .item a {
    font-weight: 400;
    line-height: 1.5;
    color: #535353;
    display: flex;
    align-items: center;
}

.footer .col .item + .item {
    margin-top: 20px;
}

.footer .col .item a .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}

.footer .copyright {
    text-align: center;
    margin-top: 80px;
    color: #b0b5b4;
    font-weight: 400;
    font-size: 1.8rem;
}
