/* ====================== HEADER ====================== */

.header {
    position: sticky;
    top: -40px;
    z-index: 1;
    background-color: #fff;
}

.header .navbar .list,
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Input search */
.top-search {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 6px;
    background: #f2f2f2;
    width: 363px;
}

.top-search__input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
}

.top-search__input::placeholder {
    color: #9b9b9b;
    font-weight: 500;
}

.header .container {
    padding-top: 52px;
    padding-bottom: 12px;
}

.header .navbar .item.active .link {
    color: var(--primary-color);
}

.header .actions .sign-in,
.header .navbar .list .link {
    font-weight: 400;
    color: #494949;
    display: inline-block;
    padding: 10px 20px;
    transition: all linear 0.3s;
}

.header .actions .sign-in:hover,
.header .navbar .list .link:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

/* Header action */
.header .actions {
    column-gap: 24px;
    display: flex;
    align-items: center;
}

.header .actions .divider {
    width: 1px;
    background: rgba(105, 105, 105, 0.2);
    height: 48px;
}

/* Cart */

.cart {
    position: relative;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .cart__badge {
    position: absolute;
    display: flex;
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 100%;
    top: -5px;
    right: -8px;
}

.cart:hover .cart__popper {
    display: inline-flex;
}

.cart__popper {
    width: 354px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px -6px 10px 0px rgba(112, 112, 112, 0.25);
    animation: fadeIn 0.3s forwards;
    /* Tối ưu chuyển động animation */
    will-change: transform, opacity;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(50%, 0);
    }
}

.cart-list {
    width: 100%;
}

/* Cart item */

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-item + .cart-item {
    margin-top: 20px;
}

.cart-item__img {
    width: 68px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-item__content {
    flex: 1;
    margin-left: 24px;
    margin-right: 20px;
}

.cart-item__name {
    overflow: hidden;
    color: #2f3a3b;
    text-overflow: ellipsis;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

.cart-item__pricing {
    margin-top: 16px;
    color: #2f3a3b;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.cart-item__price {
    font-weight: 600;
    margin-left: 4px;
}

.cart-item__clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    transition: 0.3s;
}

.cart-item__name:hover,
.cart-item__clear:hover {
    color: var(--primary-color);
}

/* Cart footer */

.cart-footer {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid rgba(155, 155, 155, 0.3);
}

.cart-total {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.cart-actions {
    margin-top: 20px;
    display: flex;
    column-gap: 16px;
}

.cart-actions__btn {
    flex: 1;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #ffc221;
    border: none;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
}

.cart-actions__btn:hover {
    opacity: 0.8;
}

.cart-actions__btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}
