/* ====================== HEADER ====================== */

.header {
    position: sticky;
    top: -40px;
    z-index: 1;
    background-color: #fff;
}

.header .navbar .list,
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Input search */
.top-search {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 6px;
    background: #f2f2f2;
    width: 363px;
}

.top-search__input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
}

.top-search__input::placeholder {
    color: #9b9b9b;
    font-weight: 500;
}

.header .container {
    padding-top: 52px;
    padding-bottom: 12px;
}

.header .navbar .item.active .link {
    color: var(--primary-color);
}

.header .actions .sign-in,
.header .navbar .list .link {
    font-weight: 400;
    color: #494949;
    display: inline-block;
    padding: 10px 20px;
    transition: all linear 0.3s;
}

.header .actions .sign-in:hover,
.header .navbar .list .link:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

/* Header action */
.header .actions {
    column-gap: 24px;
    display: flex;
    align-items: center;
}

.header .actions .divider {
    width: 1px;
    background: rgba(105, 105, 105, 0.2);
    height: 48px;
}

/* Cart */

.cart {
    position: relative;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .cart__badge {
    position: absolute;
    display: flex;
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 100%;
    top: -5px;
    right: -8px;
}

.cart:hover .cart__popper {
    display: inline-flex;
}

.cart__popper {
    width: 354px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px -6px 10px 0px rgba(112, 112, 112, 0.25);
    animation: fadeIn 0.3s forwards;
    /* Tối ưu chuyển động animation */
    will-change: transform, opacity;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(50%, 0);
    }
}

.cart-list {
    width: 100%;
}

/* Cart item */

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-item + .cart-item {
    margin-top: 20px;
}

.cart-item__img {
    width: 68px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-item__content {
    flex: 1;
    margin-left: 24px;
    margin-right: 20px;
}

.cart-item__name {
    overflow: hidden;
    color: #2f3a3b;
    text-overflow: ellipsis;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

.cart-item__pricing {
    margin-top: 16px;
    color: #2f3a3b;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.cart-item__price {
    font-weight: 600;
    margin-left: 4px;
}

.cart-item__clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    transition: 0.3s;
}

.cart-item__name:hover,
.cart-item__clear:hover {
    color: var(--primary-color);
}

/* Cart footer */

.cart-footer {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid rgba(155, 155, 155, 0.3);
}

.cart-total {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.cart-actions {
    margin-top: 20px;
    display: flex;
    column-gap: 16px;
}

.cart-actions__btn {
    flex: 1;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #ffc221;
    border: none;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
}

.cart-actions__btn:hover {
    opacity: 0.8;
}

.cart-actions__btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

/* ====================== HERO ====================== */

.hero {
    padding: 38px 0 80px;
}

.hero .container > .info {
    flex: 1;
    padding-right: 71px;
}

.hero .info .desc {
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: var(--text-secondary-color);
}

.hero .info .actions {
    margin-top: 52px;
}

.hero .info .actions .play {
    display: flex;
    width: 62px;
    height: 62px;
    border-radius: 999px;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

.hero .info .actions .play .icon {
    margin: auto;
}

.hero .media-block {
    width: 54%;
    position: relative;
}

.hero .media-block .image {
    width: 576px;
    height: 631px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0 20%;
    margin-left: auto;
    display: block;
}

.hero .media-block .card {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.card .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-heading-color);
}

.hero .media-block .course {
    width: 157px;
    border-radius: 18px;
    top: 149px;
    left: 25px;
    padding: 18px 25px;
}

.hero .media-block .course .icon {
    margin-right: 16px;
}

.hero .media-block .schedule {
    width: 124px;
    left: 0;
    bottom: 46px;
    padding: 16px 25px 23px;
}

.hero .media-block .schedule .title {
    text-align: center;
}

.hero .media-block .schedule .icon {
    margin-top: 16px;
}

.hero .media-block .active-student {
    width: 207px;
    padding: 17px 35px;
    right: 45px;
    bottom: 41px;
}

.hero .media-block .active-student .students {
    margin-top: 8px;
}

.hero .media-block .active-student .avatar {
    width: 33px;
    height: 33px;
    border-radius: 999px;
    margin-left: -7px;
    line-height: 33px;
}

.hero .media-block .active-student .more-user {
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

/* ====================== FEATURES ====================== */

.features {
    padding: 130px 0;
}

.features .content {
    width: 1024px;
}

.features .heading {
    max-width: 577px;
}

.features .info .desc {
    max-width: 590px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-desc-color);
}

.features .list {
    margin-top: 80px;
}

.features .list .item {
    flex: 1;
}

.features .list .item .icon {
    width: 102px;
    height: 106px;
    background: #ffc147;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .list .item:nth-child(2) .icon {
    background-color: #ff947a;
}

.features .list .item:nth-child(3) .icon {
    background-color: #bf83ff;
}

.features .list .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--text-heading-color);
}

.features .list .item .desc {
    font-weight: 400;
    line-height: 1.69;
    color: #9da6a5;
}

.features .list .item:nth-child(1) .desc {
    max-width: 168px;
}

.features .list .item:nth-child(2) .desc {
    max-width: 223px;
}

.features .list .item:nth-child(3) .desc {
    max-width: 224px;
}

/* ====================== COURSES POPULAR ====================== */

.courses-popular {
    padding: 130px 0;
}

.courses-popular .container > .info .desc {
    margin-top: 19px;
    width: 525px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: var(--text-desc-color);
}

.courses-popular .view-all {
    margin-left: auto;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.courses-popular .course-list {
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.courses-popular .course-list .item {
    flex: 1;
    height: 517px;
    position: relative;
}

.courses-popular .course-list .item:hover .thumb {
    opacity: 1;
}

.courses-popular .course-list .item:hover .info {
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
}

.courses-popular .course-list .item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    border-radius: 8px;
    background: #d0efed;
    transition: 0.3s linear all;
}

.courses-popular .course-list .item .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: 0;
    background: #ffffff;
    border-radius: 8px;
    padding: 18px 25px 29px;
    transition: 0.3s linear all;
}

.courses-popular .course-list .title a {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--text-heading-color);
}

.course-list .info .fee {
    margin-top: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-desc-color);
}

.course-list .info .fee strong {
    font-weight: 700;
    font-size: 2.2rem;
}

.course-list .info .desc {
    margin-top: 6px;
}

.course-list .info .foot {
    margin-top: 18px;
}

.course-list .info .desc,
.course-list .info .foot span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--text-secondary-color);
}

.course-list .info .foot span {
    display: flex;
    align-items: center;
}

.course-list .info .foot span + span {
    margin-left: 10px;
}

.course-list .info .foot span::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: var(--primary-color);
    margin-right: 10px;
}

/* ====================== STATS SECTION ====================== */

.stats {
    padding: 135px 0;
}

.stats .stat-item {
    flex: 1;
    text-align: center;
}

.stats .stat-item .number {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    color: var(--text-heading-color);
}

.stats .stat-item .desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-desc-color);
}

/* ====================== TESTIMONIAL SECTION ====================== */

.testimonial {
    padding: 130px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    width: 100%;
    flex-shrink: 0;
}

.testimonial .content {
    flex: 1;
    margin-right: 72px;
}

.testimonial .content blockquote {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
    margin-top: 25px;
}

.testimonial .content .author {
    margin-top: 33px;
    font-weight: 500;
    line-height: 1.5;
    color: #070707;
}

.testimonial .content .author span {
    font-weight: 400;
    color: var(--text-desc-color);
}

.testimonial .content .controls {
    margin-top: 52px;
}

.testimonial .content .controls .ctr-btn {
    width: 50px;
    height: 50px;
    display: flex;
    background: var(--primary-color);
    border-radius: 999px;
    border: none;
}

.testimonial .content .controls .ctr-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.testimonial .content .controls .ctr-btn .icon {
    margin: auto;
}

.testimonial .content .controls .ctr-btn + .ctr-btn {
    margin-left: 30px;
}

.testimonial .media-block {
    width: 679px;
    height: 481px;
    position: relative;
}

.testimonial .media-block .avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
    background-color: #ffc147;
}

.testimonial .media-block .avatar:nth-child(1) {
    left: 0;
    bottom: 145px;
}

.testimonial .media-block .avatar:nth-child(2) {
    bottom: 0;
    left: 212px;
    background-color: #ff947a;
}

.testimonial .media-block .avatar:nth-child(3) {
    bottom: 29px;
    right: 32px;
    background: #b1dfdc;
}

.testimonial .media-block .avatar:nth-child(4) {
    width: 110px;
    height: 110px;
    background: #bf83ff;
    right: 0;
    top: 19px;
}

.testimonial .media-block .avatar:nth-child(5) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
    background: #1ebfc1;
}

.testimonial .media-block .avatar:nth-child(6) {
    width: 235px;
    height: 235px;
    left: 237px;
    top: 107px;
    background-color: #ff8282;
}

/* ====================== CTA SECTION ====================== */

.cta-section {
    padding: 76px 0 88px;
    background-color: #def6f5;
}

.cta-section .action,
.cta-section .info {
    flex: 1;
}

.cta-section .info .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text-desc-color);
}

.cta-section .action {
    display: flex;
}

.cta-section .action .btn {
    margin: auto;
}

/* ====================== Footer SECTION ====================== */

.footer {
    padding: 130px 0 50px;
}

.footer .row {
    align-items: stretch;
    gap: 140px;
}

.footer .col .title {
    font-weight: 500;
    font-size: 1.8rem;
    color: #2e2e2e;
    margin-bottom: 25px;
}

.footer .col .item a {
    font-weight: 400;
    line-height: 1.5;
    color: #535353;
    display: flex;
    align-items: center;
}

.footer .col .item + .item {
    margin-top: 20px;
}

.footer .col .item a .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}

.footer .copyright {
    text-align: center;
    margin-top: 80px;
    color: #b0b5b4;
    font-weight: 400;
    font-size: 1.8rem;
}
